/*Rsponsive styles for the canvas section*/
@media screen and (max-width:385px) {
  footer .footer-social-network-section .logo-clemson-holder:after {
    display:none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .canvas-section {
    left: 151px
  }
  footer nav.footer-nav ul:after {
    right:-130px;
  }
}

@media screen and (max-width: 700px) {
  footer nav.footer-nav ul:after {
    display: none;
  }
  footer nav.footer-nav {
    border-right: none;
  }

}

@media screen and (max-width: 991px) {
  footer nav.footer-nav {
    margin-bottom: 0;
  }

  footer .footer-info-section:after {
    display:none;
  }

  footer .footer-social-network-section {
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  footer .footer-info-section, footer .footer-info-section-bottom {
    text-align: center;
    padding: 0;
  }
  footer .footer-form-section {
    margin-top: 0px;
  } 
  footer .footer-info-section .contact-info-with-icon {
    justify-content: center;
  }
  .about-us-section {
    background-image: url(../images/block.jpg);
  }
  .news-single .section-title h1 span{
    white-space: normal;
   }
  .home .research-section .research-info-holder{
    text-align:center;
  }
  .home .research-section .research-round-image-holder{
    margin:60px auto;
  }
  .home .clemson-university-section h1 {
    text-align:center;
  }
  .home .clemson-university-section .research-info-holder {
    text-align:center;
  }
  .home .clemson-university-section .drive-button {
    margin:20px 0;
  }
  .research-info-holder{
    padding:0 30px;
  }
  .clemson-university-section .clemson-title-holder h1{
    padding-top:30px;
  }
  footer .clemson-footer-info{
    margin-top:15px;
    padding:0 5px;
    text-align:center;
  }
}

@media screen and (max-width: 1024px) {

  .section-title h1 br {
    display: none;
  }

  /* title image responsive styles start */
  .drive-title-holder {
    height: auto;
    background-image: none !important;
  }

  .drive-title-holder .drive-title-image {
    display: block;
  }

  .drive-title-holder .drive-title-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100% !important;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .page-list {
    padding-top: 20px;
  }
  .publications .publications-section{
    padding-top:0;
  }
  .publications .section-title{
    padding:50px 0;
  }
  .faq .drive-accordion .drive-card .drive-card-text-holder{
    padding: 50px 30px;
  }
  .drive-post{
    margin-bottom:15px;
  }
  .videos-section .video-item{
    margin-bottom:20px;
  }
  .projects .drive-post-info {
    text-align: center;
  }
  .projects .drive-post-info {
    padding: 35px 0 12px 0;
  }
  .news-single .section-title h1{
    display:block;
  }
  .about-us-single .contact-section-holder{
    padding-top:50px;
  }
  .about-us-single .contact-section-holder .contact-info a{
    font-size:11px;
  }
  .drive-page-title.entry-title {
    font-size:2.5rem;
    font-weight: normal;
    line-height: 1;
  }
  /* title image responsive styles end  */
}

@media screen and (min-width: 1024px) {
  .page-list .row {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 1200px) {
  footer .footer-info-section, footer .footer-info-section-bottom {
    margin-left: 0;
  }
  footer nav.footer-nav ul:after {
    right: -98px;
  }
}

@media screen and (max-width: 481px) {
  .canvas-section {
    left: 40px;
  }

  .canvas-section h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .section-title h1 {
    font-size: 40px;
  }

  .publications-talks-section .rectangle h3 {
    width: 100%;
  }

  .publications-talks-section .rectangle {
    padding: 85px 47px 20px;
  }

  footer nav.footer-nav ul {
    display: block;
  }

  footer nav.footer-nav ul li {
    display: block;
  }

  footer nav.footer-nav ul li:after {
    display: none;
  }
  .section-title{
    padding-top: 25px;
    padding-bottom:25px;
  }
  .about-us-section p{
    text-align:center;
  }
  .about-us-section .xyz-circle{
    margin-top:20px;
    margin-bottom:20px;
  }
  .about-us-section .see-more-row{
    text-align:center;
  }
  .about-us-section .see-more-row .drive-button {
    margin: 35px 0 60px 0;
  }
  .education-section .drive-button {
    margin:50px 0;
  }
  .about-us .about-us-title h1 {
    font-size:40px;
    padding-top: 40px;  
  }
  .about-us h2.twopar-title{
    font-size:40px;
  }
  .about-us .about-us-background {
    height:calc(100vh - 120px);
  }
  .about-us .about-us-section-twopar .see-more-news .drive-button{
    margin:50px 0;
  }
  .about-us .about-us-section-twopar {
    padding:30px 0 0 0;
  }
  .about-us .people-info-holder {
    text-align:center;
  }
  .about-us .see-more-news .drive-button{
    margin:0 0 30px 0;
  }
  .publications .section-title{
    padding:30px 0;
  }
  .faq .faq-section {
    padding:0;
  }
  .news-single .section-title h1 span{
    margin:0;
  }
  .news-single .news-single-text-holder{
    margin-bottom:50px;
  }
  .news-single .news-single-image-holder{
    margin-top:0;
  }
  .about-us.about-us-people .people-holder{
    margin-bottom:30px;
  }
  .project-single .drive-page-title.entry-title {
    font-size:1.5rem;
    margin-top: 5px;
  }
  .about-us-single .contact-section-holder{
    padding-top:0;
  }
  .about-us-single .publications-list-section .publication-item-info p {
    margin-bottom:10px;
  }
  .about-us-single .contact-section-holder img{
    max-width:60%;
    display:block;
    margin:0 auto;
  }
  .about-us-single .abou-us-single-holder{
    text-align:center;
  }
  .about-us-single .hr-separator{
    display:none;
  }
  .about-us-single .titles-section{
    margin-bottom:65px;
  }
  .about-us-single .abou-us-single-holder h1 {
    margin-top: 20px;
  }
  .footer-info-section-bottom {
    display:none;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .canvas-section {
    left: 60px;
  }

  .canvas-section h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .about-us-section .justify-content-lg-end{
    justify-content: space-around;
  }
}
@media screen and (max-width: 320px){
  .canvas-section h1 {
      font-size: 36px;
      line-height: 50px;
  }
}