/*Rsponsive styles for the canvas section*/
@media screen and (max-width:480px){
    .canvas-section {
        left:40px;
        top:40px;
    }
    .canvas-section h1 {
        font-size:40px;
        line-height: 50px;
    }

    .section-title h1 {
        font-size:40px;
    }
    .publications-talks-section .rectangle h3 {
        width:100%;
    }
    .publications-talks-section .rectangle{
        padding:85px 47px 20px;
    }
}

@media screen and (min-width:480px) and (max-width:1024px){
    .canvas-section{
        left:60px;
        top:100px;
    }
    .canvas-section h1 {
        font-size:50px;
        line-height: 50px;
    }
}

@media screen and (min-width:1024px) and (max-width:1400px){
    .canvas-section{
        left:151px
    }
}